body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #555;
  
}

figure{
  display: inline-block;

}

.img2{
  filter: grayscale();
  
}
.img3{
  filter: blur(3px);
}
.img4{
  filter: invert(100%);
}
.img5{
  filter: brightness(100%);
}
.img6{
  filter: saturate(100%);
}
.img7{
  filter: sepia();
}
.img8{
  filter: drop-shadow();
}
