body {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
  color: #555;
  
}

figure{
  display: inline-flex;
  width: auto;
}

.img2{
  filter: grayscale();
  
}
.img3{
  filter: blur(5px);
}
.img4{
  filter: invert(100%);
}
.img5{
  filter: brightness(50%);
}
.img6{
  filter: saturate(4);
}
.img7{
  filter: sepia();
}
.img8{
  filter: grayscale(100%)blur(4px);
  
